.container {
  text-align: center;
  width: 100vw;
}

.carousel-indicators li {
  color: blue !important;
}
.imageBackGround {
  background: black;
  color: white;
  height: 100vh;
}
img {
  width: 75vw;
  max-height: 100vh;
}
